**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.csproj.user
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/coverage/
**/.git
**/.gitignore
**/.gitattributes
Dockerfile
.dockerignore
README.md
LICENSE